/*Barre de navigation*/
body {
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.site-header .logo img{
  height: 60px;
  border-radius: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}


ul a {
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

ul a:hover {
  color: rgb(31, 31, 162);
  transform: scale(1.05);
}

/*Section de présentation*/
.presentation-image {
  margin-top: 5px;
}

.image {
  background-image: url(../Img/img2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.sname {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.474);
}

.sname h1 {
  font-size: 50px;
  font-weight: bold;
  color: #ffff;
  text-align: center;
  margin-bottom: 5px;
}

.sname p {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight:normal;
  color: #ffff;
  text-align: center;
  margin-top: 2px;
}

.btn {
    display: inline-block;
    font-size: 20px;
    padding: 12px 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4E46ED;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
  cursor: pointer;
  color: #000;
}

.sname .btn a {
  text-decoration: none;
  color: #fff;
}

/*Section de statistiques*/
.stat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 20%;
  border-radius: 10px;
  margin-top: 5%;
}

.sta p {
  margin: 0;
}

.bg {
  font-size: 70px;
  font-weight: bold;
  color: #001675;
}

.pt {
  font-size: 20px;
  font-weight: bold;
  color : #001675
}

.sta:hover {
  background-color: #F4F4F4;
  cursor: pointer;
  transition: 0.6s;
}

/*Section d'apercu*/
.apercu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  margin-top: 5%;
  gap: 60px;
  background-color: #F4F4F4;
}

.texteapercu {
  flex: 0 0 40%;
  max-width: 500px;
}

.texteapercu h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.texteapercu p {
  font-size: 18px;
  line-height: 1.6;
  color: #060505;
  margin-bottom: 30px;
}

.texteapercu a {
  color: #4e00cc;
  text-decoration: none;
  font-weight: 500;
}

.imageapercu {
  flex: 1;
  position: relative;
  height: 500px;
  min-width: 600px;
}

.imageapercu img {
  position: absolute;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageapercu img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.img1 {
  width: 350px;
  height: 400px;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.img2 {
  width: 380px;
  height: 260px;
  top: 240px;
  left: 0;
  border-radius: 25px;
  z-index: 3;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.img3 {
  width: 420px;
  height: 480px;
  top: 10px;
  right: 0;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/*Section d'accès rapide*/
.titre {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-weight: bold;
  margin-top: 15vh;
}

.acces-rapide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  gap: 20px;
  padding: 5vh;
}

.doc {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.acces-rapide img {
  height: 50px;
}

.acces-rapide a {
  color: #4e00cc;
  text-decoration: none;
  font-weight: 500;
}

.nos-formation, .qui-sommes-nous, .actualites {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 3vh;
  width: 50vh;
  border: 1px solid #ADABAB;
  background-color: #F9F9F9;
  border-radius: 10px ;
}

.doc:hover {
  transform: scale(1.05);
  cursor: pointer;
}
