/*Barre de navigation*/
body {
  margin: 0;
  padding: 0;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.site-header .logo img{
  height: 60px;
  border-radius: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}


ul a {
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

ul a:hover {
  color: rgb(31, 31, 162);
  transform: scale(1.05);
}

/*Section de présentation*/
.presentation-image {
  margin-top: 5px;
}

.image {
  background-image: url(../Img/img2.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.sname {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.474);
}

.sname h1 {
  font-size: 50px;
  font-weight: bold;
  color: #ffff;
  text-align: center;
  margin-bottom: 5px;
}

.sname p {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight:normal;
  color: #ffff;
  text-align: center;
  margin-top: 2px;
}

.btn {
    display: inline-block;
    font-size: 20px;
    padding: 12px 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #4E46ED;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
  cursor: pointer;
  color: #000;
}

.sname .btn a {
  text-decoration: none;
  color: #fff;
}
